IMAGE_TITLE=Hospital Information System
IMAGE_DESCRIPTION=Hospital Information System application images
IMAGE_VENDOR=Hospital Information System
IMAGE_LICENSES=UNLICENSED
IMAGE_SOURCE=https://github.com/RobertNeat/Hospital_Information_System
