<div id="wizard-step-footer" class="his-wizard-step-footer">
  <p-button
    id="wizard-step-footer-p-button"
    label="Anuluj"
    severity="secondary"
    [text]="true"
    (onClick)="cancelled.emit()"
  />
  <div id="wizard-step-footer-right" class="his-wizard-step-footer__right">
    @if (!first()) {
      <p-button
        id="wizard-step-footer-p-button-2"
        label="Wstecz"
        severity="secondary"
        [outlined]="true"
        (onClick)="back.emit()"
      />
    }
    @if (!last()) {
      <p-button
        id="wizard-step-footer-p-button-3"
        [label]="nextLabel()"
        (onClick)="next.emit()"
        [loading]="busy()"
      />
    } @else {
      <p-button
        id="wizard-step-footer-p-button-4"
        [label]="submitLabel()"
        (onClick)="submitted.emit()"
        [loading]="busy()"
      />
    }
  </div>
</div>
