<p-table
  id="data-table-p-table"
  #table
  [value]="rows()"
  [columns]="columns()"
  [loading]="loading()"
  [paginator]="paginator()"
  [rows]="pageSize()"
  [globalFilterFields]="globalFilterFields() ?? []"
  [dataKey]="dataKey()"
  [selectionMode]="selectionMode()"
  [rowHover]="true"
  size="small"
  [stripedRows]="true"
  (onRowSelect)="onRowSelect($event)"
>
  <ng-template #caption>
    <div id="data-table-toolbar" class="his-toolbar">
      <ng-container [ngTemplateOutlet]="toolbarTemplate() ?? null" />
      @if (globalFilterFields()) {
        <p-iconfield id="data-table-p-iconfield">
          <input
            pInputText
            [id]="searchInputId"
            type="text"
            placeholder="Szukaj..."
            (input)="applyGlobalFilter(table, $any($event.target).value)"
          />
        </p-iconfield>
      }
    </div>
  </ng-template>

  <ng-template #header let-columns>
    <tr id="data-table-tr">
      @if (rowExpansionTemplate()) {
        <th id="data-table-expander" class="his-data-table__expander"></th>
      }
      @for (col of columns; track col.field; let idx0 = $index) {
        <th [id]="'data-table-th-' + idx0" [pSortableColumn]="col.sortable ? col.field : undefined">
          {{ col.header }}
          @if (col.sortable) {
            <p-sortIcon [id]="'data-table-p-sorticon-' + idx0" [field]="col.field" />
          }
        </th>
      }
      @if (rowActionsTemplate()) {
        <th id="data-table-th-2"></th>
      }
    </tr>
  </ng-template>

  <ng-template #body let-row let-columns="columns" let-expanded="expanded">
    <tr [id]="'data-table-tr-2-' + row.id" [pSelectableRow]="row">
      @if (rowExpansionTemplate()) {
        <td [id]="'data-table-expander-2-' + row.id" class="his-data-table__expander">
          <button
            [id]="'data-table-toggle-' + row.id"
            type="button"
            class="his-data-table__toggle"
            [pRowToggler]="row"
            [attr.aria-label]="expanded ? 'Zwiń szczegóły' : 'Rozwiń szczegóły'"
            [attr.aria-expanded]="expanded"
            (click)="$event.stopPropagation()"
          >
            <i
              [id]="'data-table-pi-' + row.id"
              class="pi"
              [class.pi-chevron-down]="expanded"
              [class.pi-chevron-right]="!expanded"
            ></i>
          </button>
        </td>
      }
      @for (col of columns; track col.field; let idx0 = $index) {
        <td [id]="'data-table-td-' + row.id + '-' + idx0">
          @if (cellTemplate(); as customCell) {
            <ng-container
              [ngTemplateOutlet]="customCell"
              [ngTemplateOutletContext]="{ $implicit: row, col: col }"
            />
          } @else {
            @switch (col.type) {
              @case ('tag') {
                @if (col.tagKind) {
                  <app-status-tag
                    [id]="'data-table-app-status-tag-' + row.id + '-' + idx0"
                    [kind]="col.tagKind"
                    [value]="cellValueAsString(row, col)"
                  />
                }
              }
              @case ('date') {
                {{ $any(cellValue(row, col)) | date: 'dd.MM.yyyy' }}
              }
              @case ('datetime') {
                {{ $any(cellValue(row, col)) | date: 'dd.MM.yyyy HH:mm' }}
              }
              @default {
                {{ cellValue(row, col) }}
              }
            }
          }
        </td>
      }
      @if (rowActionsTemplate(); as actions) {
        <td [id]="'data-table-actions-' + row.id" class="his-data-table__actions">
          <ng-container
            [ngTemplateOutlet]="actions"
            [ngTemplateOutletContext]="{ $implicit: row }"
          />
        </td>
      }
    </tr>
  </ng-template>

  @if (rowExpansionTemplate(); as expansion) {
    <ng-template #expandedrow let-row>
      <tr [id]="'data-table-expansion-' + row.id" class="his-data-table__expansion">
        <td [id]="'data-table-td-2-' + row.id" [attr.colspan]="columnSpan()">
          <ng-container
            [ngTemplateOutlet]="expansion"
            [ngTemplateOutletContext]="{ $implicit: row }"
          />
        </td>
      </tr>
    </ng-template>
  }

  <ng-template #emptymessage>
    <tr id="data-table-tr-3">
      <td id="data-table-td-3" [attr.colspan]="columnSpan()">
        {{ emptyMessage() }}
      </td>
    </tr>
  </ng-template>
</p-table>
